.about-me-wrap
  .about-header 
    div.about__title="About"
    a.domain=theme.domain

  .about-content=theme.description

  .about-author
    span Author
    include ./profile.pug
    //- a.button="Visit"
    