header.container#header
  .header
    .header-left
      .avatar
        img(src="/images/MetaSpace_Logo.svg")
      .author
        div.author-name
          a(href="/")=theme.title
        div.about-me=theme.aboutme

    .header-right
      ul.navigation
        each link, text in theme.menu
          li
            a(href=link)=text
            
  include ./aboutme.pug
